@page "/"
@using FribergShared.Dto
@using FribergWeb.Services
@using Microsoft.VisualBasic
@inject CarService carService


<PageTitle>Home</PageTitle>

<h1>Friberg</h1>

Cars
<div class="w-full grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 p-4">
  @foreach (var car in cars)
  {
    <div class="card w-full bg-base-200 shadow-md">
      <div class="card-body flex flex-col gap-2">
        <h2 class="card-title"><span>@car.Make</span> <span>@car.Model</span></h2>
        <p>HP: @car.HorsePower</p>
        <p>Year: @car.Year</p>
        <div class="justify-end card-actions flex flex-row gap-2">
          <button class="btn btn-primary">Rent</button>
          <button class="btn btn-secondary">Edit</button>
        </div>
      </div>
    </div>
  }
</div>


@code {
  List<FullCarDto> cars = [];

  protected override async Task OnInitializedAsync()
  {
    cars = await carService.GetCarsAsync();
  }
}