@page "/user"
@attribute [Authorize]
@inject AuthService authService

<div class="w-full h-full flex justify-center items-center overflow-x-hidden">
    <div class="card">
        <div class="card-body">

        </div>
    </div>
</div>

@code {

}