@using FribergWeb.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService authService

<div class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <NavLink href="/" class="btn btn-ghost text-xl">Friberg</NavLink>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <AuthorizeView>
        <Authorized>
          <li>
            @context.User.Identity?.Name;
            <NavLink @onclick="Logout">Log out</NavLink>
          </li>
        </Authorized>
        <NotAuthorized>
          <li>
            <NavLink href="/auth/login">Log in</NavLink>
          </li>
        </NotAuthorized>
      </AuthorizeView>
    </ul>
  </div>
</div>


@code {
  public async Task Logout()
  {
    await authService.Logout();
  }
}