<div class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <NavLink href="/" class="btn btn-ghost text-xl">Friberg</NavLink>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <NavLink href="/auth/login">Log in</NavLink>
      </li>
      <!-- <li> -->
      <!-- <details> -->
      <!-- <summary>Parent</summary> -->
      <!-- <ul class="bg-base-100 rounded-t-none p-2"> -->
      <!-- <li> -->
      <!-- <NavLink>Link 1</NavLink> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- <NavLink>Link 2</NavLink> -->
      <!-- </li> -->
      <!-- </ul> -->
      <!-- </details> -->
      <!-- </li> -->
    </ul>
  </div>
</div>